Repository coders-camp-2021-best-team/TeamUp-API: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

.lintstagedrc:

{
    "*.{js,ts,json,md}": "yarn format",
    "*.+(eslint|lintstaged|prettier)rc": "yarn format",
    "*.{js,ts}": "yarn lint"
}

chore: Format project using Prettier
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/feat.md
  .github/ISSUE_TEMPLATE/fix.md
  .github/ISSUE_TEMPLATE/refactor.md
Due: yarn format

feat: Setup `husky` and `lint-staged` (#17)
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/feat.md
  .github/ISSUE_TEMPLATE/fix.md
  .github/ISSUE_TEMPLATE/refactor.md
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  package.json
  yarn.lock
Due: yarn format

feat: Install `jest` and `ts-jest` packages
  package.json
  yarn.lock
Due: yarn format

feat: Add `jest.config.ts`
  jest.config.ts
Due: yarn format, yarn lint

feat: Add `test` and `test:watch` scripts to `package.json`
  package.json
Due: yarn format

feat: Add example function implementation and tests
  src/utils.ts
  test/utils.test.ts
Due: yarn format, yarn lint

feat: Setup Jest Testing Library (#18)
  jest.config.ts
  package.json
  src/utils.ts
  test/utils.test.ts
  yarn.lock
Due: yarn format, yarn lint

feat: Add Github Actions workflow config
  .github/workflows/ci.yml
Due: none

fix: Fix branch name
  .github/workflows/ci.yml
Due: none

feat: Setup Github Actions CI (#20)
  .github/workflows/ci.yml
Due: none

feat: Install `express` package
  package.json
  yarn.lock
Due: yarn format

feat: Install `joi` package
  package.json
  yarn.lock
Due: yarn format

feat: Add `config.ts` with env variable validation
  src/config.ts
Due: yarn format, yarn lint

feat: Setup basic `express.js` app
  src/index.ts
Due: yarn format, yarn lint

feat: Add request parsing middleware
  src/index.ts
Due: yarn format, yarn lint

feat: Update packages
  package.json
  yarn.lock
Due: yarn format

feat: Setup basic Express.js app (#21)
  package.json
  src/config.ts
  src/index.ts
  yarn.lock
Due: yarn format, yarn lint

feat: Install `winston` package
  package.json
  yarn.lock
Due: yarn format

feat: Update `.env.example`
  .env.example
Due: none

fix: Remove dom lib from `tsconfig.json`
  tsconfig.json
Due: yarn format

feat: Add logging level feature to `config.ts`
  src/config.ts
Due: yarn format, yarn lint

feat: Add Winston logger
  src/logger.ts
Due: yarn format, yarn lint

feat: Add example usage of winston logger
  src/index.ts
Due: yarn format, yarn lint

fix: Remove example code
  src/index.ts
Due: yarn format, yarn lint

feat: Setup `winston` logger (#22)
  .env.example
  package.json
  src/config.ts
  src/index.ts
  src/logger.ts
  tsconfig.json
  yarn.lock
Due: yarn format, yarn lint

fix!: Fix Heroku build failing
  package.json
Due: yarn format

feat: Add Heroku `Procfile`
  Procfile
Due: none

fix: Disable coloring in production
  src/logger.ts
Due: yarn format, yarn lint

fix: Fix Heroku build failing (#24)
  Procfile
  package.json
  src/logger.ts
Due: yarn format, yarn lint

feat: Install `typeorm` and `reflect-metadata` packages
  package.json
  yarn.lock
Due: yarn format

fix: Update `.gitignore`
  .gitignore
Due: none

feat: Install `class-transformer` and `class-validator` packages
  package.json
  yarn.lock
Due: yarn format

fix!: Install missing `nodemon` package
  package.json
Due: yarn format

feat: Add `TYPEORM_*` variables to `.env.example`
  .env.example
Due: none

feat: Update `.gitignore`
  .gitignore
Due: none

fix: Install missing `nodemon` package
  package.json
  yarn.lock
Due: yarn format

feat: Add `Dockerfile` for api container
  .dockerignore
  Dockerfile
Due: none

feat: Add VSCode debug configuration
  .vscode/launch.json
Due: yarn format

feat: Add `docker-compose.yml`
  docker-compose.yml
Due: none

feat: Add `nginx.conf`
  nginx.conf
Due: none
