Repository coders-camp-2021-best-team/TeamUp-API: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

.lintstagedrc:

{
    "*.{js,ts,json,md}": "yarn format",
    "*.+(eslint|lintstaged|prettier)rc": "yarn format",
    "*.{js,ts}": "yarn lint"
}

feat: Add `UserAvatarService` & `UserAvatarController`
  src/user/user-avatar.controller.ts
  src/user/user-avatar.service.ts
Due: yarn format, yarn lint

feat: Add `UserPhotoService` & `UserPhotoController`
  src/user/user-photo.controller.ts
  src/user/user-photo.service.ts
Due: yarn format, yarn lint

feat: Use `UserAvatarController` and `UserPhotoController` from `UserController`
  src/user/index.ts
  src/user/user.controller.ts
Due: yarn format, yarn lint

fix: Fix `UserService`
  src/user/user.service.ts
Due: yarn format, yarn lint

fix: Fix `EmailService` bug by adding `SMTP_SECURE` variable
  .env.example
  src/config.ts
  src/email/email.service.ts
Due: yarn format, yarn lint

fix: Move account recovery endpoints to `AuthModule`
  src/auth/auth.controller.ts
  src/auth/dto/index.ts
  src/auth/dto/password-reset-request.dto.ts
  src/auth/dto/password-reset.dto.ts
  src/user/dto/index.ts
  src/user/user.controller.ts
Due: yarn format, yarn lint

fix: Remove old user avatar after update
  src/user/user-avatar.service.ts
Due: yarn format, yarn lint

fix: Disable manual auth in phpMyAdmin
  .docker.env.example
Due: none

fix: Temprarily fix circular dependency in `user-status.dto.ts`
  src/chat/dto/user-status.dto.ts
Due: yarn format, yarn lint

fix: Add `FIXME` comments for circular deps
  src/post/dto/create-vote.dto.ts
Due: yarn format, yarn lint

fix: Fix mime type filtering
  src/s3/s3.service.ts
Due: yarn format, yarn lint

fix: Update old example credentials
  .env.example
Due: none

feat: Add recommended s3 bucket policy
  teamup-bucket.policy.json
Due: yarn format

chore: Move workspace settings to `.vscode` directory
  .vscode/extensions.json
  .vscode/settings.json
  TeamUp-API.code-workspace
Due: yarn format

fix: Fix `pre-commit` husky script
  .husky/pre-commit
Due: none

feat: Migrate to Yarn 2
  .gitignore
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn format

fix: Fix ESLint rules
  .eslintrc
Due: none

fix: Remove unused imports
  src/s3/s3.service.ts
  src/user/entities/user.entity.ts
Due: yarn format, yarn lint

fix: Fix ESLint setup
  .eslintignore
  .eslintrc
  .vscode/settings.json
  package.json
  yarn.lock
Due: yarn format

feat: Add `clean` script to `package.json`
  package.json
Due: yarn format

feat: Install `passport` and `passport-local` packages
  package.json
  yarn.lock
Due: yarn format

feat: Setup local auth with passport
  .eslintrc
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/dto/index.ts
  src/auth/dto/login.dto.ts
  src/auth/index.ts
  src/auth/strategies/index.ts
  src/auth/strategies/local.strategy.ts
  src/common/api.class.ts
  src/common/index.ts
  src/common/interfaces/authenticated-request.interface.ts
  src/common/interfaces/index.ts
  src/common/interfaces/middleware.type.ts
  src/common/interfaces/websocket-connection-handler.type.ts
  src/common/interfaces/websocket-middleware.type.ts
  src/common/middlewares/admin.middleware.ts
  src/common/middlewares/auth.middleware.ts
  src/common/middlewares/index.ts
  src/common/middlewares/logged-out.middleware.ts
  src/index.ts
Due: yarn format, yarn lint

refactor: Use `req.user` instead of `req.session.userID`
  src/block/block.controller.ts
  src/chat/chat.controller.ts
  src/feed/feed.controller.ts
  src/match/match.controller.ts
  src/post/post-attachment.controller.ts
  src/post/post-vote.controller.ts
  src/post/post.controller.ts
  src/report/report.controller.ts
  src/swipe/swipe.controller.ts
  src/user/user-avatar.controller.ts
  src/user/user-photo.controller.ts
  src/user/user.controller.ts
Due: yarn format, yarn lint

feat: Add exception classes
  src/common/exceptions/bad-request.exception.ts
  src/common/exceptions/conflict.exception.ts
  src/common/exceptions/forbidden.exception.ts
  src/common/exceptions/http.exception.ts
  src/common/exceptions/index.ts
  src/common/exceptions/internal-server-error.exception.ts
  src/common/exceptions/not-found.exception.ts
  src/common/exceptions/unauthorized.exception.ts
  src/common/exceptions/validation.exception.ts
  src/common/index.ts
Due: yarn format, yarn lint

feat: Add validate function
  src/common/validate.ts
Due: yarn format, yarn lint

fix: Set EMAIL_ENABLE="false" by default
  .env.example
Due: none

fix: Fix Redis TLS connection options
  src/common/api.class.ts
Due: yarn format, yarn lint

fix: Add secure option to session cookie
  src/common/api.class.ts
Due: yarn format, yarn lint

fix: Fix Github workflow to cache Yarn 2
  .github/workflows/ci.yml
Due: none

fix: Fix typo in `.env.example`
  .env.example
Due: none

fix: Fix Docker setup, stop using Yarn 2
  .dockerignore
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  Dockerfile
  docker-compose.yml
  package.json
  yarn.lock
Due: yarn format

fix: Fix `yarn.lock`
  yarn.lock
Due: none

fix: Change rate limits to 15 req / 10 s
  src/common/api.class.ts
Due: yarn format, yarn lint

fix: Fix Docker setup
  .docker.env.example
  .gitignore
  Dockerfile
  docker-compose.yml
Due: none

fix: Add `localhost` origin to CORS config
  src/common/api.class.ts
Due: yarn format, yarn lint

fix: Add `localhost:3000` origin to CORS config
  src/common/api.class.ts
Due: yarn format, yarn lint
