Repository coders-camp-2021-best-team/TeamUp-API: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

feat: Add `.env.example`
  .env.example
Due: none

feat: Setup Docker environment (#26)
  .dockerignore
  .env.example
  .vscode/launch.json
  Dockerfile
  docker-compose.yml
  nginx.conf
  package.json
  yarn.lock
Due: yarn format

feat: Install `mysql` and `typeorm-logger-adaptor` packages
  package.json
  yarn.lock
Due: yarn format

feat: Initialize database connection in `index.ts`
  src/index.ts
Due: yarn format, yarn lint

fix: Improve docker setup to work well with TypeORM
  Dockerfile
  docker-compose.yml
Due: none

fix: Replace postgres with mariadb database credentials
  .env.example
Due: none

feat: Update `README.md`
  README.md
  package.json
Due: yarn format

fix: Change project name in `README.md`
  README.md
Due: yarn format

fix: Change package name and repository url
  package.json
Due: yarn format

fix: Change database name
  .env.example
Due: none

feat: Setup TypeORM (#35)
  .env.example
  .gitignore
  Dockerfile
  README.md
  docker-compose.yml
  package.json
  src/index.ts
  yarn.lock
Due: yarn format, yarn lint

refactor: Change project name (#36)
  .env.example
  README.md
  package.json
Due: yarn format

fix: Add `skipLibCheck` option to `tsconfig.json`
  tsconfig.json
Due: yarn format

feat: Add `funny-header` middleware
  src/common/middlewares/funny-header.middleware.ts
Due: yarn format, yarn lint

feat: Add common exports for middlewares
  src/common/middlewares/index.ts
Due: yarn format, yarn lint

feat: Add `greeting.entity.ts`
  src/hello-world/greeting.entity.ts
Due: yarn format, yarn lint

feat: Add `greeting.dto.ts`
  src/hello-world/greeting.dto.ts
Due: yarn format, yarn lint

feat: Add `HelloWorldController`
  src/hello-world/hello-world.controller.ts
Due: yarn format, yarn lint

feat: Add `HelloWorldService`
  src/hello-world/hello-world.service.ts
Due: yarn format, yarn lint

feat: Add `HelloWorldRouter`
  src/hello-world/hello-world.router.ts
Due: yarn format, yarn lint

feat: Add common exports for `HelloWorld` module
  src/hello-world/index.ts
Due: yarn format, yarn lint

feat: Update `index.ts`
  src/index.ts
Due: yarn format, yarn lint

try to create database shape
  .devcontainer/devcontainer.json
  package-lock.json
  src/assets/asset.entity.ts
  src/chat/chat.entity.ts
  src/chat/message.entity.ts
  src/game/game.entity.ts
  src/game/level.entity.ts
  src/memes/memes.entity.ts
  src/memes/memesVotes.entity.ts
  src/user/user.entity.ts
  src/user/userBlocks.entity.ts
  src/user/userGames.entity.ts
  src/user/userReports.entity.ts
  src/user/userSwipes.entity.ts
  yarn.lock
Due: yarn format, yarn lint

delete fix with user and assets
  src/assets/asset.entity.ts
  src/user/user.entity.ts
Due: yarn format, yarn lint

fix: Remove `HelloWorldRouter`
  src/hello-world/hello-world.router.ts
  src/hello-world/index.ts
Due: yarn format, yarn lint

feat: Add `Controller` base class
  src/common/controller.class.ts
Due: yarn format, yarn lint

feat: Add `Middleware` type
  src/common/middlewares/middleware.type.ts
Due: yarn format, yarn lint

feat: Add `API` wrapper class
  src/common/api.class.ts
  src/common/index.ts
Due: yarn format, yarn lint

feat: Use new class structure
  src/common/middlewares/funny-header.middleware.ts
  src/common/middlewares/index.ts
  src/hello-world/greeting.entity.ts
  src/hello-world/hello-world.controller.ts
  src/index.ts
Due: yarn format, yarn lint

feat: Setup API architecture (#37)
  src/common/api.class.ts
  src/common/controller.class.ts
  src/common/index.ts
  src/common/middlewares/funny-header.middleware.ts
  src/common/middlewares/index.ts
  src/common/middlewares/middleware.type.ts
  src/hello-world/greeting.dto.ts
  src/hello-world/greeting.entity.ts
  src/hello-world/hello-world.controller.ts
  src/hello-world/hello-world.service.ts
  src/hello-world/index.ts
  src/index.ts
  tsconfig.json
Due: yarn format, yarn lint

fix!: Rename VSCode workspace file
  TeamUp-API.code-workspace
Due: none

fix: Fix database schema
  src/assets/asset.entity.ts
  src/block/user-block.entity.ts
  src/chat/chat.entity.ts
  src/chat/message.entity.ts
  src/game/game.entity.ts
  src/game/level.entity.ts
  src/memes/meme-vote.entity.ts
  src/memes/meme.entity.ts
  src/memes/memes.entity.ts
  src/memes/memesVotes.entity.ts
  src/report/user-report.entity.ts
  src/swipe/user-swipes.entity.ts
  src/user/user-avatar.entity.ts
  src/user/user-photo.entity.ts
  src/user/user-skill.entity.ts
  src/user/user.entity.ts
  src/user/userBlocks.entity.ts
  src/user/userReports.entity.ts
  src/user/userSwipes.entity.ts
Due: yarn format, yarn lint

fix: Remove unused variables
  src/user/user-avatar.entity.ts
Due: yarn format, yarn lint

fix!: Remove `package-lock.json`
  package-lock.json
Due: yarn format

fix: Remove `.devcontainer/`
  .devcontainer/devcontainer.json
Due: yarn format

fix!: Fix `yarn.lock`
  yarn.lock
Due: none

feat: Create database schema (#38)
  src/assets/asset.entity.ts
  src/block/user-block.entity.ts
  src/chat/chat.entity.ts
  src/chat/message.entity.ts
  src/game/game.entity.ts
  src/game/level.entity.ts
  src/memes/meme-vote.entity.ts
  src/memes/meme.entity.ts
  src/report/user-report.entity.ts
  src/swipe/user-swipes.entity.ts
  src/user/user-avatar.entity.ts
  src/user/user-photo.entity.ts
  src/user/user-skill.entity.ts
  src/user/user.entity.ts
Due: yarn format, yarn lint

feat: Add report service
  src/report/index.ts
  src/report/report.controller.ts
  src/report/report.dto.ts
  src/report/report.service.ts
Due: yarn format, yarn lint

feat: Add dummy middleware
  src/common/middlewares/admin.middleware.ts
  src/common/middlewares/logged-in.middleware.ts
  src/report/index.ts
  src/report/report.controller.ts
  src/report/report.dto.ts
  src/report/report.service.ts
Due: yarn format, yarn lint

user-service
  src/user/user-service.ts
  src/user/user.controller.ts
Due: yarn format, yarn lint

Path conditions:
  yarn format: any of: *.{js,ts,json,md}
  yarn lint: any of: *.{js,ts}
